@import "tailwindcss";
@import "./fonts.css";

@theme{
  --color-white-500: #F1F1FC;
  --color-white-400: #EAEAF4;
  --color-white-300: #E3E3EE;
  --color-white-200: #C3C3CD;
  --color-gray-300: #9B9ECE;
  --color-gray-500: #999;
  --color-black-200: #2F242C;
  --color-black-300: #41333D;
  --color-black-400: #483944;
  --color-black-500: #4E3D49;
  
  --color-accent: #6665DD;

  --shadow-neu-bottom: 
  0 4px 8px 0 #00000025;
  --shadow-neu-soft: 
  4px 4px 8px #00000025;

  --font-roboto: 'Roboto', Arial;
}

[data-theme="dark"]{
  --color-accent: #9CE37D;

  --color-white-500: #4E3D49;
  --color-white-400: #483944;
  --color-white-300: #41333D;
  --color-white-200: #2F242C;
  --color-black-200: #C3C3CD;
  --color-black-300: #E3E3EE;
  --color-black-400: #EAEAF4;
  --color-black-500: #F1F1FC;
}

body{
  background-color: var(--color-white-300);
  color: var(--color-black-500);

  font-family: var(--font-roboto);
}

button{
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

button:hover{
  cursor: pointer;
  background-color: var(--color-white-300);
}

button._active, button.primary{
  color: var(--color-white-400);
  background-image: linear-gradient(120deg, var(--color-gray-300), var(--color-accent));
}

*{
  scrollbar-color: var(--color-accent) transparent; 
}

*:focus {
  outline: none;
}

*:focus-visible{
  outline: solid 1px var(--color-accent);
  outline-offset: 2px;
}

*::selection{
  background-color: var(--color-gray-300);
  color: var(--color-black-200);
}

input::placeholder{
  color: var(--color-gray-500);
}

select{
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}